*{
    box-sizing: border-box;
    direction: rtl;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
}

.search-bar{
    display: flex;
    justify-content: flex-end;
} 
ul{
    display: flex;
    direction: row;
    justify-content: center;
}
.main-content{
    display: flex;
    direction: row;
    width: 900px;
    justify-content: space-between;
}
li{
    list-style: none;
    margin: 10px;
}

.articles{
    display: flex;
    justify-content: center;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width:32vw;
    margin: 7px;
    color: gray;
}
.bottom-section > h4{
    display: flex;
    flex-direction: row;
}
.last-section{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width:32vw;
    margin: 7px;
    /* margin: 7px; */
}
.last-section2{
    display:flex;
    flex-direction: row;

    margin: 7px;
}
.last-section2 > img, .last-section2 > div{
    display:flex;
    flex-direction:column;
}
.last-section2 > img{
    margin-left: 0px;
}

.main-content > .upper-section{
    width:32vw;
    margin: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.on-picture{
    position:relative;
    background-color: gray;
    opacity: 0.8;
    bottom: 60px;
    right: 8px;
    /* width: 25vh; */
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
/* .upper-section{
    position: relative;
} */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to top,#757676, #7c7d7e, #838485, #8b8c8d, #939595, #9c9d9e, #a4a6a6);
}
header{
    /* background-color: gray; */
    /* background-image: linear-gradient(gray, white); */
    background-image: linear-gradient(to bottom,#757676, #7c7d7e, #838485, #8b8c8d, #939595, #9c9d9e, #a4a6a6);
}
.articles{
    padding-top: 20px;

}
input[type="button"]{
    margin-left: 30px;
    width: 20px;
}
.search-bar > a{
    margin-left: 18px;
}
.search-bar > input[type="text"]{
    width: 140px;
}
.header-list{
    justify-content: space-evenly;
    color:gainsboro;
}
.last-section > div > h4{
    margin-right: 7px;
}
.last-section{
    border: solid blue 1px;
    color: gray;
}
.bottom-section-links > a{
    text-decoration: none;
    color: gray;
}
.header-list > li > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.search-bar > a{
    text-decoration: none;
    color: white;
}

/* .paz-pic{
    position: relative ;
} */
.absolute-img{
    position: absolute;
    margin-right: 0%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-self:flex-start;
}
/* .search-bar{
    position: relative;
} */

.on-picture > a, .on-picture > p{
    color: white;
    /* text-decoration: none; */
    font-size: 14px;
}
